@import url(css/header.css);
@import url(css/main.css);
@import url(css/knowledge.css);
@import url(css/projects.css);
@import url(css/contact.css);

/* ESTE ARCHIVO CONTIENE LAS VARIABLES, CONFIGURACION GENERALES, EL FOOTER Y MEDIA QUERIES */

/* VARIABLES */
:root{
    --color_blanco: #fff;
    --color_negro: #000;
    --color_claro:  #F5F5F5;
    --color_azul: #1C1F2A;
    --color_azul_claro: #2D3242;
    --color_gris: #E0E0E0;

    --size-1: 0.9rem;
    --size-2: 1.25rem;
    --size-3: 1.5rem;
    --size-4: 1.85rem;
    --size-5: 2.5rem;

}
/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

body {
    font-family: 'DM Sans', sans-serif;
    content-visibility: auto;
    
}

h2{
    text-align: center;
    padding: 2rem 0;
}

/* FOOTER */
footer{
    background-color: #1C1F2A;
    color: var(--color_blanco);
    display: flex;
    justify-content: center;
    padding : 1rem 0 0.25rem 0;
    align-items: center;
}

@media (max-width: 1000px) {
    /* HEADER  */
    nav {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #1C1F2A;
        position: absolute;
        top: 60px;
        right: 10px;
        padding: 1rem;
        border-radius: 8px;
    }

    .hamburger {
        display: block;
    }

    #menu-toggle:checked + .hamburger + #navbar {
        display: flex;
    }

    /* MAIN */
    .content{
        flex-direction: column;
    }

    /* PROYECTOS */
    #project {
        padding-inline: 2%;
    }
    .work-grid{
        display: flex;
        flex-direction: column;
    }

    /* CONTACTO */

    #contact { padding: 1.5rem 15% 2rem 15%; }

    .contact-box {
        flex-direction: column;
        gap: 2rem;
    }
}