/* CONOCIMIENTOS  */
#knowledge {
    background-color: #E0E0E0;
    padding: 0 15% 3rem 15%;
    border-radius: 16px;
}

#knowledge ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
}

#knowledge li {
    border: 1px solid #444;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: var(--color_blanco);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#knowledge li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

#knowledge li img {
    width: 70px;
    height: 70px;
    margin-bottom: 0.5rem;
}

#knowledge li p {
    font-size: var(--size-1);
    text-align: center; 
    color: var(--color_azul);
}
